html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.bg-blue {
    background-color: #003366;
}

.nav-link {
    color: white;
}

    .nav-link:hover {
        color: #cccccc;
    }



.navbar-nav.ml-auto {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.card {
    display: flex;
}

.card_Name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
    word-break: break-word;
}

.card_Des {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all;
    word-break: break-word;
}

.card_Img {
    width: 100%;
    height: 200px;
}

/*button register*/
.hover-text-dark:hover {
    color: #000000 !important;
}



.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link:focus,
.nav-pills .nav-item .nav-link:hover {
    background-color: antiquewhite; /* Màu nền khi mục được click hoặc hover */
    color: #fff; /* Màu chữ khi mục được click hoặc hover */
}

.product-container {
    border: 1px solid #ccc; /* Định dạng khung sản phẩm */
    padding: 20px;
    margin-bottom: 20px; /* Khoảng cách giữa các sản phẩm */
}

.product-details {
    display: flex;
    align-items: center;
}

.product-image {
    max-width: 200px; /* Định dạng kích thước hình ảnh */
    margin-right: 20px; /* Khoảng cách giữa hình ảnh và mô tả sản phẩm */
}

.product-description {
    flex: 1; /* Mở rộng mô tả sản phẩm để lấp đầy phần còn lại của sản phẩm */
}
