 

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheGioiSach</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProduct.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-blue mb-3">
            <a class="nav-link navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Thế Giới Sách</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Sản phẩm</a>
                    </li>
                    
                    @await Component.InvokeAsync("Navbar")
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
                            <i class="fas fa-shopping-cart"></i>
                            Giỏ hàng
                        </a>
                    </li>
                  
                </ul>
             
              @*   @using (Html.BeginForm("SearchResult", "Product", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Tìm kiếm</button>
                        </form>
                    } *@
                           @using (Html.BeginForm("SearchResult", "Product", FormMethod.Get, new { @class = "d-flex align-items-center" }))
                            {
                                <input type="text" name="keyword" placeholder="Nhập từ khóa tìm kiếm" class="form-control me-2">
                                <button type="submit" class="btn btn-outline-light btn-sm me-2">Tìm kiếm</button>
                            }

                <partial name="_LoginPartial" />
                @*  <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">Admin</a> *@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-blue text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>About Us</h5>
                    <p style="color:white">The Gioi Sach made by AnhThu !!!</p>
                </div>
                <div class="col-md-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-white" href="#">Home</a></li>
                        <li><a class="text-white" href="#">Rooms</a></li>
                        <li><a class="text-white" href="#">Amenities</a></li>
                        <li><a class="text-white" href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-white" href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li><a class="text-white" href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a class="text-white" href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled text-white">
                        <li><i class="fas fa-map-marker-alt"></i> Q9, Ho Chi Minh City, VietNam</li>
                        <li><i class="fas fa-phone "></i> 0347335846</li>
                        <li><i class="fas fa-envelope"></i> dinhthuphuong.it@gmail.com</li>
                    </ul>
                </div>
            </div>
            <hr class="bg-light">
            <div class="text-center">
                &copy; 2024 - The Gioi Sach - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>