@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
   
   @if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <button class="btn btn-secondary btn-outline-light bg-blue dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            @UserManager.GetUserName(User)!
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hồ sơ của tôi</a></li>
            <li><a class="dropdown-item" href="/OrderList/Index">Đơn mua</a></li>
            <div class="dropdown-divider"></div>
            <li>
                <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Admin" asp-controller="Admin" asp-action="Index"> Admin</a>
                </li>
                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                    <button class="dropdown-item" type="submit">Đăng xuất</button>
                </form>
            </li>
        </ul>
    </div>
}



    else
    {
        <li class="nav-item">
            <button class="btn btn-light mr-2 ml-2 btn-sm" type="button">
                <a class="nav-link text-dark hover-text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
            </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-outline-light btn-sm" type="button">
                <a class="nav-link text-white hover-text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
            </button>
        </li>
    }
</ul>
