@* @model Order
<h2>Checkout</h2>
<form asp-action="Checkout" method="post">
    <div class="form-group">
        <label asp-for="ShippingAddress">Shipping Address</label>
        <input asp-for="ShippingAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Notes">Notes</label>

<textarea asp-for="Notes" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Place Order</button>
</form> *@
@model TH_Lap3.Models.UpdateUserInfoViewModel

<h3>Thông tin người dùng</h3>
<form asp-action="Checkout" method="post">
    @if (Model != null)
    {
        <div>
            <p><strong>Họ và tên:</strong> @Model.FullName</p>
            <p><strong>Địa chỉ:</strong> @Model.Address</p>
            <p><strong>Số điện thoại:</strong> @Model.PhoneNumber</p>
        </div>
    }
    <button type="button"  class="btn btn-outline-light bg-blue" id="updateButton">Cập nhật</button>
    <button type="submit" class="btn btn-outline-light bg-blue">Đặt hàng</button>
    <button type="button" class="btn btn-outline-light bg-blue" id="exitButton">Hủy đặt hàng</button>
</form>
<script>
    document.getElementById("updateButton").addEventListener("click", function() {
        window.location.href = "/ShoppingCart/UpdateUserInfo"; // Thay đổi đường dẫn tương ứng với trang cập nhật thông tin của bạn
    });

    document.getElementById("exitButton").addEventListener("click", function() {
        window.location.href = "/ShoppingCart/Index"; // Thay đổi đường dẫn tương ứng với trang chính của bạn
    });
</script>

    
    

